@import url("https://use.typekit.net/omg7yww.css");

/* ---------- Wrapper & Container ---------- */
.wl__auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wl__auth-container {
  display: flex;
  flex-direction: column;
  padding: 100px;
  background: #fefefe;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
/* ---------- Headline Text Logo and Emoji ---------- */
.wl__headline {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.wl__headline h1 {
  font-family: Hero New;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  color: #101010;
}
.wl_headline-graphics {
  display: flex;
  align-items: center;
}
.wl__scorecard-logo {
  height: 25px;
  width: auto;
  padding: 0 15px;
}
.a__waving-hand {
  font-size: 2rem;
}
.wl__auth-container p {
  font-family: Hero New;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 25px;
  color: #5d5d5d;
}
/* ---------- Button ---------- */
.wl__sign-up-btn {
  font-family: Hero New;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #e4f7ff;
  padding: 15px 20px;
  border-radius: 50px;
  color: #0d9dda;
  text-decoration: none;
  transition: all 0.5s ease;
}
.wl__sign-up-btn:hover {
  text-decoration: none;
  background: #d3f2ff;
}
.wl__sign-up-btn:active {
  text-decoration: none;
  background: #d9ebf3;
}
.wl__sign-up-btn p {
  margin: 0;
  color: #0d9dda;
}
.wl__sign-up-btn i {
  font-size: 1.5rem;
}

p.a__small-legal {
  font-size: 14px;
  color: #a1a1a1;
}
/* ---------- Footer Logos ---------- */
.wl__logos {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}
.wl__sf-partner {
  width: 50px;
  height: auto;
  margin-right: 25px;
}
.wl__powered-by {
  width: 120px;
  height: auto;
}
/* ----------
Mobile Styles
----------*/
@media only screen and (max-width: 768px) {
  .wl__auth-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #ffffff;
    border: 0px solid #eaeaea;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0);
  }
  .wl__headline {
    flex-direction: column;
    align-items: flex-start;
  }
  .wl__headline h1 {
    text-align: left;
  }
  .wl__scorecard-logo {
    padding: 0 15px 0 0;
  }
  .wl__auth-container p {
    text-align: left;
  }
}
